.footer{
    padding: 0 0 40px 0;
    position: relative;
    z-index: 1;

    .footer_wrapper{
        .logo{
            padding-bottom: 20px;
            img{
                width: 120px;
            }
        }
        ul{
            li{
                 display: inline-block;
                 padding-right: 15px;
                a{
                    i{
                        height: 40px;
                        width: 40px;
                        border: 1px solid #3b5998;
                        font-size: 26px;
                        color: #3b5998;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 5px;
                    }
                    .lk{
                        border: 1px solid #0e76a8;
                        color: #0e76a8;
                    }
                    .tr{
                        border: 1px solid #1DA1F2;
                        color: #1DA1F2;
                    }
                }
            }
        }
        h3{
            font-size: 24px;
            font-weight: 600;
            color: #333;
           line-height: 36px;
           padding: 20px 0;
           span{
               color: $primaryColor;
           }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color: rgb(83, 83, 83);
            padding-right: 30px;
        }
        h4{
            font-size: 15px;
            font-weight: 400;
            color: rgb(83, 83, 83);
            line-height: 26px;
        }
        .Address{
           h6{
            font-size: 18px;
            font-weight: 400;
            color: #333;
            line-height: 26px;  
           }
           p{
            font-size: 16px;
            font-weight: 400;
            color: rgb(83, 83, 83);
            line-height: 26px;  
           }
        }
    }
}
.copy_right{
    background-color: hsl(218.5, 48.1%, 15.9%);
    padding: 20px 0 10px 0;
    border-top: 1px solid rgb(133, 131, 131);
    h4{
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }
}