.header{ 
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 5;
  .nav{
    padding: 15px 0 10px 0;
    background-color: $white;
    .navBar{
        border-radius: 5px;
        display: flex !important;
        justify-content: space-between !important;   
        align-items: center ;
      .logo{  
         img{
             width: 110px;
         }
      }
      .nav_item{
          ul{
                li{
                    padding: 0 12px;  
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    &:hover a{
                       width: 100%;
                    }  
                    &:hover .sub_down{
                        top: 40px;
                        opacity: 1 !important;
                        margin-top: 0;
                        visibility: visible;
                        padding: 10px 10px 10px 10px;
                    }
        
                    a{
                        font-size: 16px;
                        font-weight: 400;
                        color: #343433; 
                        .droppper{
                            font-size: 16px;
                        }
                        &:hover{
                            color: $black;
                        }
                    }
                    .sub_down{
                        background-color: $white;
                        border-radius: 10px;
                        padding: 10px 10px 10px 10px;
                        box-shadow: 1px 1.732px 20px 0px rgba(0,0,0,0.3);   
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        visibility: hidden;
                        display: block;
                        width: 250px; 
                        border: none !important;
                        opacity: 0;
                        top: 70px;
                        left: 0;
                        padding: 0;
                        z-index: 999;
                      li{
                           padding: 10px 10px;
                           width: 100%;
                           &:hover{
                               background-color: $primaryColor;
                               width: 100%;
                           } 
                           &:hover a{
                            color: $white ; 
                        } 
                          a{
                            font-size: 15px;
                            font-weight: 400;
                            color: black;
                          }
                 }
                }
              }
          }
      }
     .search {
        position: relative
    }
    
    .search form input[type=text] {
        padding: 9px 10px;
        width: 100px;
        height: 40px;
        border-radius: 8px;
        -webkit-transition: width .35s ease-in-out;
        transition: width .35s ease-in-out;
        border: 1px solid #b2b2b3;
        background-color:#ffffff;
        background-clip: padding-box;
        &::placeholder{
          font-size: 13px;
          color: #868686;
          font-weight: 400;
      }
    }
    
   .search form input[type=text]:focus {
        width: 220px;
        border: 1px solid #b2b2b3;
    }
    
   .search form .saerch_icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%)
    }
    
    .search form .saerch_icon i {
        font-size: 19px;
        color: $black;
        position:absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

    }
    .application_btn{
      a{
        padding: 12px 20px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        background-color: $primaryColor;
        text-transform: uppercase;

      }
    }
    } 
  }
}
